VITE_SUPABASE_URL=https://poudzwjuwinwrzagrsiy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvdWR6d2p1d2lud3J6YWdyc2l5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI0NDQ3ODYsImV4cCI6MjA4ODAyMDc4Nn0.Klaj0BjLTynusK943vO7foNLP3OdL2ActjgIqZ84yRw

